html {
  overflow-y: scroll;
}

a img {
 border: 0;
}

body {
  color: black;
  background-color: white;
  font-family: Optima, Arial, Verdana, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.breadcrumb {
  padding-left: 1em;
  padding-right: 1em;
  background: #FFCC66;
  font-size: 120%;
  font-weight: bold;
}

.breadcrumb a,span.not-this {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.breadcrumb a:hover {
    color: blue;
    text-decoration: underline;
}

#logout {
    float: right;
}

table.class_grades {
    width: 100%;
    text-align: center;
    background: #eceeec;
    border-radius: 10px;
}

table.class_grades thead th {
    text-align: center;
}

table.grade-stats {
    margin-left: auto;
    margin-right: auto;
}

#class-score table {
    width: 100%;
    text-align: center;
    background: #eceeec;
    border-radius: 10px;
}

div.assignments h1 {
    text-align: center;
    font-size: large;
}

table.assignment {
    width: 100%;
    margin-bottom: 1em;
    border: 1px dashed;
    border-radius: 5px;
}

table.assignment.optional {
    background: #b5d6f8;   
}

table.assignment.optenable {
    background: #b5f8be;
}

table.assignment tr td:nth-child(1) {
    width: 15%;
}
table.assignment tr td:nth-child(2) {
    width: 30%;
}

span.A {
    color: darkgreen;
}

span.B {
    color: green;
}

span.C {
   color: darkgoldenrod;
}

span.D {
    color: firebrick;
}

span.F {
    color: darkred;
}

.content {
/*  overflow-y: auto; */
  margin-left: auto;
  margin-right: auto;
  width: 95%;
/*  height: 80%;
  margin-bottom: 3em; /* footer height */
}

div.side-by-side {
    width: 100%;
}

div.side-by-side {
    vertical-align: text-top;
    height: 100%;
}

div.side-by-side div.left {
    width: 50%;
/*    height: 100%; */
    float: left;
    overflow-y: auto;
}

div.side-by-side-inner {
    margin-left: 1em;
    margin-right: 1em;
}

div.side-by-side div.right {
    width: 50%;
/*    height: 100%; */
    float: left;
    overflow-y: auto;
}


div.answers {
    margin-bottom: 1em;
    border: 1px dashed;
    border-radius: 5px;
    padding-left: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

div.answers p span.weight {
    margin-right: 0.5em;
    background: #eceeec;
}

.files {
    width: 100%;
    margin-top: 1em;
    min-width: 45%;
    min-height: 5em;
    background: #eceeec;
    border-radius: 10px;
}

.notice {
    font-style: italic;
}

table.upload-table tr td {
    padding-right: 3em;
    padding-left: 3em;
}

.highlight {
    background-color: yellow;
}

p.comment {
    padding: 1em;
    background-color: #eceeec;
    border-radius: 0.5em;
    right: 0;
    margin-right: 1em;
}

#grade-button {
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table#grades {
    width: 100%;
}

table#grades thead tr {
    background: #FFCC66;
}

table#grades tbody tr:nth-child(2n) {
    background: #F5F5DC;
}

table#grades th:nth-child(2), table#grades th:nth-child(3),
    table#grades th:nth-child(4) {
    text-align: right;
}

table#grades tr td:nth-child(2), table#grades tr td:nth-child(3), table#grades tr td:nth-child(4) {
    text-align: right;
}

table.assignment td:nth-child(3) {
    text-align: right;
}

div.student-info {
    text-align: center;
}

#footer {
/*    position: absolute;
    bottom: 0;
    height: 3em;  /* footer height */
    width: 98%;
    text-align: right;
    background: #F5F5DC;
/*    padding-right: 1em; */
    clear: both;
}


div.sticky div.right {
  position: fixed;
  right: 10px;
}

table.lines pre {
    padding: 0px;
    margin: 0px;
}

table.lines tbody tr td {
    padding-right: 10px;
}
