html {
  overflow-y: scroll;
}

a img {
 border: 0;
}

body {
  color: black;
  background-color: white;
  font-family: Optima, Arial, Verdana, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.breadcrumb {
  padding-left: 1em;
  padding-right: 1em;
  background: #FFCC66;
  font-size: 120%;
  font-weight: bold;
}

.breadcrumb a,span.not-this {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.breadcrumb a:hover {
    color: blue;
    text-decoration: underline;
}

#logout {
    float: right;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

table.packages {
    width: 100%;
}

table.packages thead tr {
    background: #FFCC66;
}

table.packages tbody tr:nth-child(2n) {
    background: #F5F5DC;
}

.recent td:nth-child(1):before {
    content: "*";
    color: red;
}

#footer {
    width: 95%;
    text-align: right;
    background: #F5F5DC;
    padding-right: 3em;
}
